@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

html, body {
    background-color: #123e2a; /* Background color for all pages */
    margin: 0;
    padding: 0;
    height: 100%;
}

/* header values */
header {
    background: #104c31; /* Background color for the header */
    width: 100%; /* Sets the header width to be the entire page in terms of screen % */
    border-bottom: 10px solid #c1af6c; /* Gold border for the bottom of the nav bar */
    position: relative;
}

#container{
    display: inline-block;
    width: 100%;
    height: inherit;
    position: inherit;
}

/* Club Logo image formatting */
#product{
    position: relative;
    height: auto;
    vertical-align: bottom;
}

/* Navigation menu formatting */
nav {
    position: inherit;
    display: inline-table;
    font-family: 'BebasNeue',Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
    text-decoration: none;
    width: 100%;
    vertical-align: middle;
}

nav a {
    text-align: center;
    position: relative;
    display: inline; /* Ensures each hyperlink (button in this case since the links are each menu button) is inline */
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
    padding: inherit;
    margin: 1% 1% 5%;
    vertical-align: inherit;
}

/* footer formatting */
footer {
    background-color: #104c31;
    border-top: 2px solid #c1af6c;
    color: white; /* Text color */
    min-height: 150px; /* Footer height */
    overflow-x: hidden; /* Hides x-axis scrollbar */
}

#findUs {
    display: inline-block; /* Displays in line with other divs */
    position: relative;
    left: 50%;
    width: 25%;
    height: 100%; /* Height = to 100% of footer height */
    color: white; /* Text color */

}

#findUs a {
    text-decoration: none;
    color: white;
}

#footerValidation {
    display: inline-block;
    position: relative;
    left: 0;
    width: 25%;
    height: 100%;
    margin-left: 1%;
}

#footerValidation a {
    text-decoration: none;
    color: white;
}

/* Default class header formatting for all pages */
.pageHeader {
    margin: 2% auto 0; /* Centers header on page */
    min-width: 300px; /* Ensures header text is properly formatted regardless of screen size */
    width: 30%;
}

.pageHeader h1 {
    background: antiquewhite;
    padding: 15px;
    text-align: center;
    border: 5px solid #c1af6c;
}

main {
    padding-bottom: 150px; /* Padding to ensure the main element appears above the footer */
    min-height: 100%;
}
