.wrapper {
    min-height: 100%; /* wrapper height */
    padding: 15px; /* Padding for all elements within the wrapper */
}

#indexBody {
    padding: 0 15px;
}


form {
    background-color: antiquewhite;
    border: 5px solid #c1af6c;
    width: 50%;
    text-align: center;
    float: left;
}

#separator {
    float:left
}

#graph {
    background-color: antiquewhite;
    border: 5px solid #c1af6c;
    float:right
}






